services:
  postgres:
    image: postgres:17
    container_name: jobboard-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: jobboard
    ports:
      - "5432"
    networks:
      - jobboard-network

  backend:
    build: ./apps/jobboard-backend
    container_name: jobboard-backend
    depends_on:
      - postgres
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/jobboard
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: admin
      GOOGLE_APPLICATION_CREDENTIALS: /app/jobboard-local-service-account-key.json
      APP_ENV: local
      APP_CORS_ALLOWED_ORIGINS: http://localhost:5173,http://localhost:8081
      APP_VERIFY_EMAIL_URL: http://localhost:5173/verify-email
      APP_RESET_PASSWORD_URL: http://localhost:5173/reset-password
      MAIL_USERNAME: apikey
      MAIL_PASSWORD: replace_with_actual_mail_password
      APP_JWT_SECRET: GsvmU2XXI6GF8WI5+XiFafU6aSYao6cyK1KP+WhfINM=
      APP_GCS_BUCKET: bounswe-jobboard
      APP_MAIL_FROM: sezer.cot@bumk1974.com
    volumes:
      - ./apps/jobboard-backend/jobboard-local-service-account-key.json:/app/jobboard-local-service-account-key.json
    ports:
      - "8080:8080"
    networks:
      - jobboard-network

  frontend:
    build:
      context: ./apps/jobboard-frontend
      args:
        VITE_API_URL: http://localhost:8080
    container_name: jobboard-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
    networks:
      - jobboard-network

  mobile-web:
    build:
      context: ./apps/jobboard-mobile
      args:
        API_BASE_URL: http://localhost:8080/api
    container_name: jobboard-mobile-web
    ports:
      - "8081:80"
    networks:
      - jobboard-network

networks:
  jobboard-network:
    driver: bridge
